{
  "agent": {
    "run_as_user": "root"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/cloud-init-output.log",
            "log_group_name": "${bootstrap_log_group_name}",
            "log_stream_name": "cloud-init-{instance_id}"
          },
          {
            "file_path": "/var/log/finrisk-deploy.log",
            "log_group_name": "${bootstrap_log_group_name}",
            "log_stream_name": "deploy-{instance_id}"
          }
        ]
      }
    }
  }
}
